# sistema
Thumbs.db
desktop.ini
.DS_Store
Zaltergames - Design System & UI_UX Guidelines Specification.docx
Zaltergames - Concept, Vision & Design Brief.pdf

# editor
.vscode/
.idea/
*.swp

# eventuali strumenti
node_modules/
